body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	background-image: url(images/ocean.png);
	background-repeat: no-repeat;
	background-size: cover;

}

#settingsModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
	background-color: #ffffff;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #000000;
	width: 70%;
	height: 70px;
	font-size: 20px;
}

#close {
	float: right;
}

#layout {
	display: grid;
	grid-template-columns: 1fr 10fr 5fr;
	grid-template-rows: 10fr 1fr 1fr;
	grid-template-areas:
		"s g i"
		". b i"
		"c c c";
}

#board {
	height: 80vmin;
	width: 80vmin;
	grid-area: g;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	border: 2px solid black;
}

#sidebar {
	grid-area: s;
	display: flex;
	font-size: 75px;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: space-around;
}

#bottombar {
	grid-area: b;
	display: flex;
	font-size: 75px;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#infoBox {
		display: grid;
		grid-template-rows: 50% 50%;

		height: 80vmin;
		width: 30vmin;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
    grid-area: i;
		padding-top: 3vh;
    border-radius: 25px;
    color: white;
		text-align: center;
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
		margin-left: 50px;
}

#movesBox {
	overflow: auto;
}

#settings {
	position: absolute;
	left: 20px;
	top: 20px;
	background-color: transparent;
	border: none;
}

.capturedPieces {
	grid-area: c;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.white {
	background-color: #ffffff;
}

.black {
	background-color: #8f8f8f;
}

.whiteForest {
	background-color: #ffffff;
}

.blackForest {
 background-color: #058700;
}

.whiteReef {
	background-color: #ffffff;
}

.blackReef {
 background-color: #ff694f;
}

.whiteOcean {
	background-color: #ffffff;
}

.blackOcean {
 background-color: #03a9fc;
}

.whiteTundra {
	background-color: #ffffff;
}

.blackTundra {
 background-color: #a8aeb3;
}

.whiteDesert {
	background-color: #ffffff;
}

.blackDesert {
 background-color: #ffbe63;
}

.whiteSky {
	background-color: #ffffff;
}

.blackSky {
 background-color: skyblue;
}

.selected {
	background-color: blue;
}

.wp {
	height: 100%;
	width: 100%;
	background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wp.png');
	/* background-image: url("images/ocean_pieces/starfish.png"); */
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
}

.wr {
	height: 100%;
	width: 100%;
	background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wr.png');
	background-size: cover;
	background-repeat:no-repeat;
}

.wn {
	height: 100%;
	width: 100%;
	background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wn.png');
	background-size: 100%;
}

.wb {
	height: 100%;
	width: 100%;
	background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wb.png');
	background-size: 100%;
}

.wq {
	height: 100%;
	width: 100%;
	background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wq.png');
	background-size: 100%;
}

.wk {
	height: 100%;
	width: 100%;
	background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wk.png');
	background-size: 100%;
}

.bp {
	height: 100%;
	width: 100%;
	background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bp.png');
	background-size: 100%;
}

.br {
	height: 100%;
	width: 100%;
	background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/br.png');
	background-size: 100%;
}

.bn {
	height: 100%;
	width: 100%;
	background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bn.png');
	background-size: 100%;
}

.bb {
	height: 100%;
	width: 100%;
	background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bb.png');
	background-size: 100%;
}

.bq {
	height: 100%;
	width: 100%;
	background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bq.png');
	background-size: 100%;
}

.bk {
	height: 100%;
	width: 100%;
	background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bk.png');
	background-size: 100%;
}
